{% extends 'blog/base.html' %}
{% load static %}

{% block header %}
<title>Nosotros</title>
<meta property="og:title"              content="Opción Sonora-Nosotros" />
<meta property="og:description"        content="Un espacio para todos los melomanos" />
<meta property="og:image"              content="{% static "jpg/logo.jpg" %}" />
{% endblock %}

{% block content %}
  <h2>Nosotros</h2>
  <h3>¿Que es Opción Sonora?</h3>
  <p>Opción Sonora es un espacio para compartir nuestro gusto por la música...</p>
  <h3> Equipo</h3>

  {%  for integrante in integrantes %}
  <div class="card" ">
    <img class="card-img-top" src="{{ integrante.imagenDePerfil.url }}"  alt="Card image cap" >
    <div class="card-body">
      <h2>{{integrante.nombre}}</h2>
      <h4>{{integrante.puesto}}</h4>
      <p><i class="material-icons">mail</i><a href ="mailto:{{integrante.correo}}">{{integrante.correo}}</a></p>
      <div class="row">
        <div class="col"><a href="{{integrante.facebook}}" target="_blank"><img src="{% static "png/facebook.png" %}" alt="facebook" width="25" height="25"></a></div>
        <div class="col"><a href="{{integrante.twitter}}" target="_blank"><img src="{% static "png/twitter.png" %}" alt="twitter" width="25" height="25"></a></div>
        <div class="col"><a href="{{integrante.instagram}}" target="_blank"><img src="{% static "png/instagram.png" %}" alt="instagram" width="25" height="25"></a></div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock %}
