
{% extends 'blog/base.html' %}
{% load static %}
{% block header %}
<title>Noticias</title>

<meta property="og:title"              content="Opción Sonora-Noticias" />
<meta property="og:description"        content="Un espacio para todos los melomanos" />
<meta property="og:image"              content="{% static "jpg/logo.jpg" %}" />

{% endblock %}

{% block content %}
<div class=noticias>
  <div class ="titulo">
<h2>Noticias</h2>
</div>
<div class="card-columns"">
{%  for post in posts %}
  <div class="card" style="width: auto;">
    <a href="{% url 'post_detail' pk=post.pk %}">
    <img class="card-img-top" src="{{ post.imagen.url }}" alt="Card image cap" width="180" height="180">
    <div class="card-body">
      <h2>{{ post.title }}</h2>
      <p><i class="material-icons">calendar_today</i>{{ post.published_date }}</p>
      <p><i class="material-icons">account_circle</i>Por: {{ post.author }}</p>
      <p class="card-text"><i class="material-icons">info</i>{{ post.descripcion|linebreaksbr }}</p>
    </div>
    </a>
    <div class="card-footer">
        <p class="card-text">Compartir en:</p>
        <a href="http://www.facebook.com/sharer.php?u={{request.scheme}}://{{request.get_host}}{% url 'post_detail' pk=post.pk %}" target="_blank"><img src="{% static "png/facebookShare.png" %}" alt="facebook" width="25" height="25"></a>
        <a href="https://twitter.com/share?url={{request.scheme}}://{{request.get_host}}{% url 'post_detail' pk=post.pk %}" target="_blank"><img src="{% static "png/twitterShare.png" %}" alt="twitter" width="25" height="25"></a>
        <a href="https://api.whatsapp.com/send?text={{request.scheme}}://{{request.get_host}}{% url 'post_detail' pk=post.pk %}" target="_blank"><img src="{% static "png/whatsappShare.png" %}" alt="whatsapp" width="25" height="25"></a>

    </div>
  </div>
{% endfor %}
</div>
<div class="row justify-content-center">
  <ul class="pagination pagination-lg">
    {%  for t in total_array %}
      {% ifequal  t num %}
        <li class="page-item active"><a class="page-link" href="{% url 'noticias' num=t %}">{{t}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'noticias' num=t %}">{{t}}</a></li>
      {% endifequal %}
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
